@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'Lato-Black';
	src: url('../font/Lato-Black.eot');
	src: local('Lato Black'), local('Lato-Black'), url('../font/Lato-Black.ttf') format('truetype'),
	     url('../font/Lato-Black.woff') format('woff'),
	     url('../font/Lato-Black.woff2') format('woff2'),
	     url('../font/Lato-Black.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Thin';
	src: url('../font/Lato-Thin.eot');
	src: local('Lato Thin'), local('Lato-Thin'), url('../font/Lato-Thin.ttf') format('truetype'),
	     url('../font/Lato-Thin.woff') format('woff'),
	     url('../font/Lato-Thin.woff2') format('woff2'),
	     url('../font/Lato-Thin.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('../font/Lato-Bold.eot');
	src: local('Lato Bold'), local('Lato-Bold'), url('../font/Lato-Bold.ttf') format('truetype'),
	     url('../font/Lato-Bold.woff') format('woff'),
	     url('../font/Lato-Bold.woff2') format('woff2'),
	     url('../font/Lato-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}



body {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato-Thin', sans-serif;
	color: #333;
}

#header {
	padding: 10px 40px 40px 40px;
	background-color: #333;
	color: #FFF;
	margin-bottom:-40px;
}
a {
	text-decoration: none;
	color: #666;
}
a:hover {
	color: #6cbc35;
}
h1.titre {
	text-transform: uppercase;
	font-family: 'Lato-Black', sans-serif;
}
h2 {
	
}
.ico {
	letter-spacing: 10px;
}
.ico a { color: #555; }
.ico a:hover { color: #FFF; }
.nb { color: #FFCC2F; }
table {
	padding: 0px;
	width: 100%;
	border-bottom: 7px solid #333;
}
tr:hover {
	background-color: #efe9e5;
}
td.titre {
	background-color: #DDD;
	font-family: 'Lato-Bold', sans-serif;
	color: #FFF;
	border-bottom: 7px solid #333;
	font-size: 1.4em;
}
td.titre a { color: #FFF; }
td.titre a:hover { color: #1ca0de; }
td {
	border-bottom: 1px solid #DDD;
	padding: 5px 10px;
}
td.longlat { font-size: 0.8em; }
td.name {
	font-family: 'Lato-Bold', sans-serif;
}
.gris {
	color: #DDD;
}
.legende {
	color: #888;
	font-size: 0.9em;
}
input {
	font-family: 'Lato-Bold', sans-serif;
}
.search_input {
	margin:0px 20px 0px 10px;
	padding:4px 7px;
	font-size:1.2em;
	border: 1px solid #FFF;
	color: #555;
}
